.body{
    padding:0;
    margin:0;
 
}
.logo{
    float:left;
    padding-left: 50px;
}
.header h1{
    float:right;
    position: relative;
    color:red;
    right:80px;
    padding-bottom: 30px;
    font-size: 60px;



}
.header{
    background-color: yellow;

 
}
.nav{
    float: right;
    overflow: hidden;
    background-color: rgb(207, 207, 207);
  
}
.nav a{

    display: inline-block;
    padding: 15px 39px;
   
    color: rgb(0, 0, 0);
    
}
.nav a:hover {
    color: rgb(126, 5, 5);
    background-color: white;
}
.column {
  border: 2px solid red;
  padding: 10px 75px;

  width: 50%;
  background-color: rgb(126, 64, 224);
}
.column h2{
    text-align: center;
}


.column1{
    float: left;
    width: 50%;
    text-align: center;
    
   
}


.column2{

    float:left;
    width:20%;
    padding: 20px;

   
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
  


.footer {
     padding: 20px;
     color:wheat;
     background-color: rgb(0, 0, 0);
     font-size:20px;
     text-align: center;
   
  }
 


  
 
 
  
 